<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>999.bet</string>
	<key>CFBundleExecutable</key>
	<string>tclient-mobile</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>999.bet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb441880973935033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>line</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.com.bet999.game</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>moblink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>q52link</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>441880973935033</string>
	<key>FacebookAutoLogAppEventsEnbled</key>
	<false/>
	<key>FacebookClientToken</key>
	<string>bc76b34584429245b5de939a83b3acfa</string>
	<key>FacebookDisplayName</key>
	<string>bet999</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.cocostest2.game</string>
		<string>fbauth2</string>
		<string>fbauth</string>
		<string>fbapi20130214</string>
		<string>fbapi</string>
		<string>fbshareextension</string>
		<string>fbapi20160328</string>
		<string>fbapi20150629</string>
		<string>lineauth2</string>
		<string>line</string>
		<string>lineauth</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1657207579</string>
	</dict>
	<key>MOBAppKey</key>
	<string>3611813ed37f5</string>
	<key>MOBAppSecret</key>
	<string>537612016deaea225d9ed9c569b80d49</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许使用相机</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许使用相册</string>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
